/**
 * The CSS values that are wrapped in '/*variable' comments are intended for use
 * by https://www.drupal.org/project/style_settings. Enable that module to
 * have those CSS variables exposed in the settings UI.
 */

table.pr_widget-table {
  float: left; /* LTR */
  width: auto;
}

table.pr_widget-table td {
  padding: 2px;
}

div.pr_widget-wrap td.pr_widget-first {
  text-align: center;
  color: /*variable:pr_widget_fontcolor*/White/*variable*/;
  border-width: /*variable:pr_widget_borderwidth*/3px/*variable*/;
  border-style: solid;
  border-color: /*variable:pr_widget_color*/YellowGreen/*variable*/ !important; /* CHANGE THE COLOR HERE */
  border-top-left-radius: /*variable:pr_widget_radius*/5px/*variable*/;
  border-bottom-left-radius: /*variable:pr_widget_radius*/5px/*variable*/;
  background: /*variable:pr_widget_color*/YellowGreen/*variable*/ !important; /* CHANGE THE COLOR HERE */
  text-shadow: /*variable:pr_widget_shadowcolor*/Black/*variable*/ 2px 2px 7px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: /*variable:pr_widget_fontsize*/1em/*variable*/;
  font-weight: bold;
}

div.pr_widget-wrap td.pr_widget-last {
  color: /*variable:pr_widget_rankcolor*/DimGray/*variable*/;
  border-width: /*variable:pr_widget_borderwidth*/3px/*variable*/;
  border-style: solid;
  border-color: /*variable:pr_widget_color*/YellowGreen/*variable*/ !important; /* CHANGE THE COLOR HERE */
  border-top-right-radius: /*variable:pr_widget_radius*/5px/*variable*/;
  border-bottom-right-radius: /*variable:pr_widget_radius*/5px/*variable*/;
  background: /*variable:pr_widget_bgcolor*/WhiteSmoke/*variable*/;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: /*variable:pr_widget_fontsize*/1em/*variable*/;
  font-weight: bold;
}

div.pr_widget-wrap td {
  padding: 0 5px 0 5px;
  text-align: center;
}

.pr_widget-table,
.pr_widget-body,
td.pr_widget-notice {
  border: 0 none !important;
  border-collapse: separate;
}

/* Center the copyright notice vertically with the pagerank widget.*/
table.pr_widget-table.notice {
  padding: /*variable:pr_widget_borderwidth*/3px/*variable*/ 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
